<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<body>
    <form action="/" method="post">
        <h1>
            User Sign In
        </h1>
        <p>Please sign in to your account.</p>
        <hr>
        
        <label for="email">E-mail :</label>
        <input type="text" placeholder="Type your e-mail" name="email"><br>

        <label for="passwd">Password :</label>
        <input type="password" placeholder="Type your password" name="passwd">
        <hr>
        
        <button type="submit" class="registerbtn">Sign In</button>

        <p>Don't have an account? <a href="/">Register</a>.</p>
    </form>
</body>
</html>